

:root {
  font-family: 'Baloo 2', cursive;

  /* Some variables I set up */
  --primary-background: rgb(0, 0, 0);
  --secondary-background: rgb(59, 3, 3);
  --tertiary-background: rgb(194, 11, 11);
  --font: 0;

}

div#splash-mount {
  border-radius: 20px;
  border-style: solid;
  border-color: red;
}

div#splash {
  background-color: var(--secondary-background);
  padding: 10px 10px;
}