@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url("https://lavender-discord.github.io/IconsaxDiscord/theme.css");

:root {
    font-family: 'Baloo 2', cursive;

    /* Some variables I set up */
    --primary-background: rgb(0, 0, 0);
    --secondary-background: rgb(59, 3, 3);
    --tertiary-background: rgb(194, 11, 11);
    --font: 0;


    /* For radial status ---- */
    /*
     * Spacing
     */
    --rs-small-spacing: 1px; /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 1px; /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 1px; /* Gap between avatar and status for User profiles | MUST end in px */
  
    /*
     * Widths
     */
    --rs-small-width: 3px; /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 4px; /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 5px; /* Thickness of status border for User profile | MUST end in px */
  
    /*
     * Shape
     */
    --rs-avatar-shape: 30%; /* 50% for round - 0% for square */
  
    /*
     * Colours
     */
    --rs-online-color: #087016; /* Colour for online status */
    --rs-idle-color: #9dff00; /* Colour for idle status */
    --rs-dnd-color: #ff0000; /* Colour for dnd status */
    --rs-offline-color: var(--rs-invisible-color); /* Colour for offline status */
    --rs-streaming-color: #5901f1; /* Colour for streaming status */
    --rs-invisible-color: #66666d; /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-self-speaking-color: #00ff8c; /* Colour for speaking ring in the bottom left while in a voice chat/call */
    --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone  */
  
    /*
     * Others
     */
    --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}

/* Start message */
.message-2CShn3.cozyMessage-1DWF9U.groupStart-3Mlgv1.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz{
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.062);
}

/* Progress Bar guilds */
.progressBar-2yl2pi.bar-H6j3_Q {
    background: red;
}

/* Main Theming */

.button-f2h6uQ.lookFilled-yCfaCM.colorBrand-I6CyqQ.sizeSmall-wU2dO-.grow-2sR_-F {
    background-color: var(--tertiary-background);
}

.theme-dark {
    
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #a3a6aa;
    --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*51.6%),52.2%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82%),73.9%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: var(--secondary-background);
    --background-primary: var(--primary-background);
    --background-secondary: var(--primary-background);
    --background-secondary-alt: var(--primary-background);
    --background-tertiary: var(--primary-background);
    --background-accent: var(--secondary-background);
    --background-floating: var(--secondary-background);
    --background-nested-floating: var(--tertiary-background);
    --background-mobile-primary: var(--primary-background);
    --background-mobile-secondary: var(--secondary-background);
    --chat-background: var(--secondary-background);
    --chat-border: var(--secondary-background);
    --chat-input-container-background: var(--secondary-background);
    --background-modifier-hover: var(--secondar-background);
    --background-modifier-active: var(--secondary-background);
    --background-modifier-selected: var(--secondary-background);
    --background-modifier-accent: var(--secondary-background);
    --info-positive-background: hsla(139,calc(var(--saturation-factor, 1)*47.3%),43.9%,0.1);
    --info-positive-foreground: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --info-positive-text: #fff;
    --info-warning-background: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --info-warning-foreground: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --info-warning-text: #fff;
    --info-danger-background: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --info-danger-foreground: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --info-danger-text: #fff;
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: #fff;
    --status-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --status-positive-text: #fff;
    --status-warning-background: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --status-warning-text: #000;
    --status-danger-background: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-danger-text: #fff;
    --status-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-positive: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --status-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --button-danger-background: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*56.3%),40.4%);
    --button-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.4%),35.1%);
    --button-danger-background-disabled: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-positive-background-hover: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.9%),22.2%);
    --button-positive-background-disabled: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-secondary-background: var(--secondary-background);
    --button-secondary-background-hover: var(--tertiary-background);
    --button-secondary-background-active: var(--tertiary-background);
    --button-secondary-background-disabled: var(--secondary-background);
    --button-outline-danger-text: #fff;
    --button-outline-danger-border: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --button-outline-danger-background: hsla(0,0%,100%,0);
    --button-outline-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-text-hover: #fff;
    --button-outline-danger-border-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.7%),48%);
    --button-outline-danger-text-active: #fff;
    --button-outline-danger-border-active: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-positive-text: #fff;
    --button-outline-positive-border: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --button-outline-positive-background: hsla(0,0%,100%,0);
    --button-outline-positive-background-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-text-hover: #fff;
    --button-outline-positive-border-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-positive-text-active: #fff;
    --button-outline-positive-border-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-brand-text: #fff;
    --button-outline-brand-border: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background: hsla(0,0%,100%,0);
    --button-outline-brand-background-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-text-hover: #fff;
    --button-outline-brand-border-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-brand-text-active: #fff;
    --button-outline-brand-border-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-primary-text: #fff;
    --button-outline-primary-border: var(--primary-background);
    --button-outline-primary-background: var(--primary-background);
    --button-outline-primary-background-hover: var(--secondary-background);
    --button-outline-primary-text-hover: var(--secondary-background);
    --button-outline-primary-border-hover: var(--secondary-background);
    --button-outline-primary-background-active: var(--secondary-background);
    --button-outline-primary-text-active: var(--secondary-background);
    --button-outline-primary-border-active: var(--secondary-background);
    --modal-background: #36393f;
    --modal-footer-background: var(--secondary-background);
    --scrollbar-thin-thumb: var(--secondary-background);
    --scrollbar-thin-track: var(--primary-background);
    --scrollbar-auto-thumb: var(--secondary-background);
    --scrollbar-auto-thumb: var(--secondary-background);
    --scrollbar-auto-track: var(--primary-background);
    --scrollbar-auto-scrollbar-color-thumb: var(--secondary-background);
    --scrollbar-auto-scrollbar-color-track: var(--primary-background);
    --input-background: var(--secondary-background);
    --input-placeholder-text: hsl(216,calc(var(--saturation-factor, 1)*2.1%),53.9%);
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: var(--secondary-background);
    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-message-automod: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.05);
    --background-message-automod-hover: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --channels-default: var(--tertiary-background);
    --channel-icon: var(--tertiary-background);
    --channel-text-area-placeholder: var(--tertiary-background);
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: var(--primary-background);
    --activity-card-background: var(--primary-background);
    --textbox-markdown-syntax: var(--secondary-background);
    --spoiler-revealed-background: var(--secondary-background);
    --spoiler-hidden-background: var(--secondary-background);
    --android-navigation-bar-background: var(--primary-background);
    --deprecated-card-bg: var(--primary-background);
    --deprecated-card-editable-bg: var(--primary-background);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: #202225;
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
    --font-primary: var(--font) !important;
    --font-display: var(--font) !important;

}

/* Funny Hover animations */

/* Channels DM */
.interactive-iyXY_x {
    border-radius: 10px;
}
.interactive-iyXY_x:hover {
    
    background-color: var(--secondary-background);
    border-radius: 10px;
    transition: background-color 1000ms, border-radius 1000ms;
}

.interactive-iyXY_x.interactiveSelected-29CP8y.selected-3veCBZ:hover {
    background: var(--primary-background);
}

/* Unread Check thing */
.unreadRelevant-2f-VSK {
    background-color: rgb(233, 89, 89);
}

/* DM channel change color on hover */
.interactive-iyXY_x:hover:after {
    background-color: var(--tertiary-background);
    border-radius: 10px;
    transition: background-color 1000ms, border-radius 1000ms;
}


.content-1gYQeQ {
    background-color: var(--secondary-background);
    border-radius: 10px;
    transition: background-color 1000ms, border-radius 1000ms;
}

.iconVisibility-vptxma.wrapper-NhbLHG.modeSelected-3DmyhH  .content-1gYQeQ{
    background-color: var(--primary-background);

}

.iconVisibility-vptxma.wrapper-NhbLHG.modeSelected-3DmyhH  .content-1gYQeQ:hover{
    background-color: var(--secondary-background);
    transition: background-color 1000ms;
}

/* .content-1gYQeQ:hover:after {
    background-color: var(--primary-background);
    border-radius: 10px;
    transition: background-color 1000ms, border-radius 1000ms;
} */




.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: var(--secondary-background);
    transition: background-color 1000ms, border-radius 1000ms;
}

/* .modeMuted-2T4MDZ .name-28HaxV:hover, .wrapper-NhbLHG:hover .name-28HaxV:hover {
    color: var(--tertiary-background);
    

    transition: color 1000ms;
} */

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub:hover, .wrapper-3kah-n:hover .childWrapper-1j_1ub:hover {
    color: var(--tertiary-background);
    background-color: var(--primary-background);
    transition: color 1000ms, background-color 1000ms;
    
}

/* I forgot what these were I didn't comment at the time */

.childWrapper-1j_1ub {
    background-color: var(--primary-background);
    
}

.peopleColumn-1wMU14 {
    background-color: var(--primary-background);
}

/* Discord Home Icon */
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: var(--secondary-background);
    background-color: var(--primary-background);
}


/* Links */
.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
    background-color: rgb(44, 2, 2) !important;
    color: rgb(255, 0, 0) !important;
    border-radius: 100px;
    border-width: 1px;
    
    text-align: center;
    padding: 1px 10px;
}

.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:hover {
    background-color: rgb(85, 3, 3) !important;
    transition: background-color 1000ms;
    text-decoration: none;
}

/* Hide buttons */
.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX[href="https://support.discord.com"] {
    display: none;
}

div.buttonWrapper-3YFQGJ[id="children"]{
    display: none;
    align-items: right;
}

.bar-2eAyLE.unreadMentionsBar-ZXXoOH.mention-3XBnnZ.active-334r9u {
    display: none;
}

/* Special For Me */
div[data-author-id="918502969656344637"] .contents-2MsGLg .header-2jRmjb .headerText-2z4IhQ .username-h_Y3Us.desaturateUserColors-1O-G89.clickable-31pE3P{
    background-color: rgb(44, 2, 2) !important;
    color: rgb(255, 0, 0) !important;
    padding: 1px 10px;
    text-align: center;
    border-width: 1px;
    border-radius: 35%;
}

div[data-author-id="918502969656344637"] .contents-2MsGLg .header-2jRmjb .headerText-2z4IhQ .username-h_Y3Us.desaturateUserColors-1O-G89.clickable-31pE3P:hover {
    background-color: rgb(85, 3, 3) !important;
    transition: background-color 1000ms;
    text-decoration: none;
}

div[data-author-id="918502969656344637"] .contents-2MsGLg .header-2jRmjb .headerText-2z4IhQ .username-h_Y3Us.desaturateUserColors-1O-G89.clickable-31pE3P::before {
    content: "ùùÆ   ";
}

/* Omega Watermark */
.wrapper-1_HaEi.guilds-2JjMmN::before {
    background-color: rgb(44, 2, 2) !important;
    color: rgb(255, 0, 0) !important;
    content: "ùùÆ OMEGA DEV";
    padding: 1px 10px;
    text-align: center;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: red;
}

.wrapper-1_HaEi.guilds-2JjMmN::before:hover{
    background-color: rgb(85, 3, 3);
    transition: background-color 1000ms;
}
